/* 공통 헤더 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

/* 헤더 바 */
.header::after {
    content: "";
    display: block;
}

.headerHeading a {
    width: 204px;
    display: block;
    padding: 2.5rem;
    text-indent: 120%;
    overflow: hidden;
    white-space: nowrap;
}

/* 메뉴 오픈 버튼 */
.btnMenuopen {
    position: absolute;
    top: 0;
    right: 0;
    width: 78px;
    height: 100%
}

.btnBgrd {
    position: absolute;
    width: 25px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burgerBar {
    display: block;
    width: 100%;
    height: 20%;
    position: absolute;
}

.burgerTop {
    top: 0;
}

.burgerMiddle {
    top: 50%;
    transform: translateY(-50%);
}

.burgerBottom {
    top: 100%;
    transform: translateY(-100%);
}

.menuList {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 50px;
    transform: translateX(100%);
    transition: all .5s;
}

.isAct .menuList {
    transform: none;
}

.menuList a {
    font-size: 1.6rem;
    padding: 1em;
    display: block;
}

.btnMenuClose {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 30px;
    transition: all .5s;
    transform: translateX(100%);
}

.isAct .btnMenuClose {
    transform: none;
}
.isAct .btnMenuClose:hover{
    transform: scale(1.4);
}

/* 공통 메인 */
.productList {
    margin: 0 auto;
    padding: 10rem 2rem 2rem;
}

@media screen and (min-width: 575px) {
    .productList {
        max-width: 830px;
    }
    .productList li{
        width: calc((100% - 30px) / 2);
    }
}
@media screen and (max-width: 574px) {
    .productList li{
        width: 100%;
    }

}
.productList li {
    float: left;
    margin-bottom: 20px;
}
.product {
    position: relative;
    text-align: center;
    height: 360px;
    
}

.productList li:nth-child(2n-1){
    margin-right: 20px;
}

.productList li:nth-child(1)  {
    animation: productAni 1s 0.4s backwards;
}

.productList li:nth-child(2){
    animation: productAni 1s .5s backwards;
}

.productList li:nth-child(3)  {
    animation: productAni 1s .6s backwards;
}

.productList li:nth-child(4) {
    animation: productAni 1s .7s backwards;
}

.productList li:nth-child(n+5) .product{
    animation: productAni 1s 0.4s backwards;
}

.infoButton {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.productFront {
    height: 100%;
}


.productImg{
    max-width: 100%;
    height: 85%;
    transition: all .5s;
    transform: scale(0.9);
    /* width: 50%; */
}

.infoButton:hover .productImg,
.infoButton:focus .productImg {
    transform: scale(1);
}


.productHeading {
    display: block;
}

.productBack {
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 2rem 2rem 0;
    transition: opacity .5s linear;
}

.infoOpen {
    z-index: 1;
    opacity: 1;
}


.enTitle {
    display: block;
}

.enTitle::after {
    content: "";
    display: block;
    height: 2px;
    margin-top: 2rem;
}

.productInfo {
    margin-top: 1em;
}

.productNutrition {
    column-count: 2;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.nutrition {
    width: 50%;
    float: left;
    line-height: 1.5;
    padding-left: 1.5rem;
}

.content {
    float: left;
    width: 50%;
    text-align: left;
    line-height: 1.5;
    padding-left: 1em;
}

.closeinfoButton {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em 1.2em;
}



.scrollUp {
    position: fixed;
    bottom: 1%;
    right: 1%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.footer {
    position: absolute;
    left: -100%;
}