/* 공통 로고 */
.header {
    background-color: rgba(255, 255, 255, 0.4)
}

@keyframes headingBar{
    0% {
        transform:translateY(-78px) ;
    }
    100%{
        transform:none;
    }
}
.header::after {
    animation: headingBar 0.4s;
    background-color: #E0E0E0;
    height: 1px;
}


@keyframes logoAni {
    0% {
        transform: translateX(-100%);
    }

    80% {
        transform: translateX(5%);
    }

    100% {
        transform: none;
    }
}

.headerHeading a {
    animation: logoAni .5s 0.4s backwards;
    background-image: url(../images/Logo/Logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* 공통 네비게이션 */
@keyframes menuAni {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: none;
    }
}

.btnMenuopen {
    animation: menuAni .5s 0.4s backwards;
}

.btnMenuopen:hover,
.btnMenuopen:focus {
    background-color: #eee;
}



.burgerBar {
    background-color: #525254;
}

.menuList {
    background-color: rgba(14, 18, 35, 0.9);
}

.isAct .menuList {
    transform: none;
}

.menuList a {
    color: #fff;
    font-size: 1.6rem;
    border-bottom: 1px solid #22305A;
}

.menuItem a:hover,
.menuItem a:focus {
    background-color: #22305A;
}

.btnMenuClose {
    font-size: 3rem;
    color: #fff;
}

/* 공통 메인 */
@keyframes productAni {
    0% {
        transform: translateY(15%);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

.productList li {
    background-color: #f5f5f5;
}
.infoButton {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.productFront figcaption {
    font-size: 1.6rem;
}


.productHeading {
    font-weight: normal;
    font-size: 1.8rem;
}

.productBack {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #ddd;
}



.enTitle {
    font-size: 1.5rem;
    color: #656565;
}

.enTitle::after {
    background-color: #181818;
    height: 2px;
}

.productInfo {
    font-size: 1.6rem;
}

.productNutrition {
    column-rule: 1px solid black;
    font-size: 1.3rem;
    background-color: #F8F8F8;
}

.closeinfoButton:hover {
    background-color: #efefef;
}

.closeinfoButton span {
    font-weight: 100;
    font-size: 2.5rem;
}
.scrollUp {
    width: 50px;
    height: 50px;
    background-image: url(../images/GoToTop.png);
    background-repeat: no-repeat;
}

.footer {
    position: absolute;
    left: -100%;
}
/* 다크모드 */
/* @media (prefers-color-scheme: dark) {
    body{
        background-color: #000;
        color: #fff;
    }
    .product {
        background-color: #303030;
    }
    .headerHeading{
        border-bottom-color: #606060;
    }
    figcaption {
        color: #fff;
    }
    .menuList {
        background-color: #181818;
    }
    .menuItem a{
        border-bottom-color: #525254;
    }
    .productNutrition{
        background-color: #181818;
        column-rule-color:  #fff;
    }
    .productBack{
        background-color: rgba(20, 20, 20, 0.7);
        border-color: #525254;
    }
    .headerHeading a {
        background-image: url(../images/Logo1x_negative.png);
    }
    .closeinfoButton{
        color: #777;
    } 
     
}*/