/* 웹폰트를 쓰기 위한 */
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);


/* 기본 스타일 */
html {
    font-size: 10px;
}

body {
    font-family: 'Spoqa Han Sans', sans-serif;
    font-size: 1.6rem;
}
body *,
body *::before,
body *::after {
    box-sizing: border-box;
}
/* 스타일 초기화 */
.resetMargin{
    margin: 0;
}
.btnNone {
    padding: 0;
    border: 0;
    background-color: transparent;
}
.a11yHidden{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    background-color: blue;
    display: block;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
}
/* 공통 */
/* 공통_헤더 */
.header{
    width: 100%;
    height: 75px;
    background-color: white;
    position: fixed;
    top: 0;
    /* backdrop-filter: opacity(90%); */
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
}
.headerHeading{
    margin: 0;
    width: 164px;
    height: 16px;
    background-image: url(./ProjectImg/Logo.svg) ;
    background-size: 100%;
    overflow: hidden;
    text-indent: -100%;
    position: absolute;
    top: 30px;
    left: 25px;
}
/* 공통_헤더_네비게이션_버거 */
.btnMenuopen {
    background-color: yellow;
    position: absolute;
    top: 0;
    right: 0;
    width: 66px;
    height: 76px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.btnBgrd{
    background-color: lightseagreen;
    position: absolute;
    top: 25px;
    right: 20px;
    width: 26px;
    height: 22px;
}

.burgerBar {
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #616161;  
}

.burgerTop {
    background-color: red;
    top: 0;
}

.burgerMiddle {
    top: 50%;
    background-color: lime;
    transform: translateY(-50%);
}

.burgerBottom {
    background-color: purple;
    top: 100%;
    transform: translateY(-100%);
}
/* 메인 */
.main{
    height: 1000px;
}
